.page {
  background-image: url('../assests/bigBracket.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 0px;
  max-width: 100%;

  font-weight: bolder;
}
#home {
  font-size: 35px;
  text-align: center;
  padding-top: 40px;
  color: rgb(82, 4, 4);
}
